<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Profile</title>
    <style type="text/css">

        -webkit-appearance: none;

     </style>
</head>
<body>
    <h1 th:text="${userId} + '\'s Profile'"> </h1>

 <!--
    ${...} : Variable expressions. These are OGNL expressions (or Spring EL if you have spring integrated)

    *{...} : Selection expressions. Same as above, excepted it will be executed on a previously selected object only

    #{...} : Message (i18n) expressions. Used to retrieve locale-specific messages from external sources

    @{...} : Link (URL) expressions. Used to build URLs
    ~{...} : Fragment expressions. Represent fragments of markup and move them around templates
  -->

    <form action="#" th:action="@{/edit}" th:object="${userProfile}" method="post">  <!--This is going to do post request to /edit url... th:object is like 2 way data binding-->
        <div class="container">
            <label> Select your profile Theme</label>
            <select th:field="*{theme}">
                <option th:each="i : ${#numbers.sequence(1, 3)}" th:value="${i}" th:text="${i}"></option>
            </select>
        <div class="form-label">
            <label >First Name</label>
            <input th:field="*{firstName}" class="form-control">
        </div>
        <div class="form-label">
            <label>Last Name</label>
            <input th:field="*{lastName}"  class="form-control">

        </div>
        <div class="form-label">
            <label>Email address</label>
            <input  th:field="*{email}"  class="form-control">

        </div>
        <div class="form-label">
            <label>Phone Number</label>
            <input  th:field="*{phone}"  class="form-control">

        </div>
        <div class="form-label">
            <label>Designation</label>
            <input  th:field="*{designation}"  class="form-control">

        </div>
        <br>
            <div class="form-label">
                <label >Summary</label>
                <textarea th:field="*{summary}" class="form-control"></textarea>
            </div>
            <br>
         <h3>Jobs:</h3>
            <table>
                <thead>
                <tr>
                    <th>Company</th>
                    <th>Designation</th>
                    <th>City</th>
                    <th>State</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>Current Job?</th>
                </tr>
                </thead>
                <tr th:each ="job,stat : *{jobs}">  <!--stat is like a counter... like the for loop-->
                    <td><input  class="form-control" th:field="*{jobs[__${stat.index}__].company}"> </td><!--This is like we are getting from userprofile object directly and from jobs array-->
                    <td><input  class="form-control" th:field="*{jobs[__${stat.index}__].designation}"> </td>
                    <td><input  class="form-control" th:field="*{jobs[__${stat.index}__].city}"> </td>
                    <td><input  class="form-control" th:field="*{jobs[__${stat.index}__].state}"> </td>
                    <td><input type="date"  class="form-control" th:field="*{jobs[__${stat.index}__].startDate}"> </td>
                    <td><input type="date" class="form-control" th:field="*{jobs[__${stat.index}__].endDate}"> </td>
                    <td><input type="checkbox" th:field="*{jobs[__${stat.index}__].currentJob}"> </td>
                    <td><a th:href="@{'./delete?type=job&index='+${stat.index}}"> Delete </a></td>
                </tr>
            </table>
            <p><a href="./edit?add=job">Add job</a> </p>
            <br>
            <h2>Education</h2>
            <table>
                <thead>
                <tr>
                    <th>Institution</th>
                    <th>Specialization</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>CGPA</th>
                </tr>
                </thead>
                <tr th:each ="education,stat : *{educationList}">  <!--stat is like a counter... like the for loop-->
                    <td><input  class="form-control" th:field="*{educationList[__${stat.index}__].institution}"> </td><!--This is like we are getting from userprofile object directly and from jobs array-->
                    <td><input  class="form-control" th:field="*{educationList[__${stat.index}__].specialization}"> </td>
                    <td><input type="date"  class="form-control" th:field="*{educationList[__${stat.index}__].startDate}"> </td>
                    <td><input type="date" class="form-control" th:field="*{educationList[__${stat.index}__].endDate}"> </td>
                    <td><input  class="form-control" th:field="*{educationList[__${stat.index}__].cgpa}"> </td>
                    <td><a th:href="@{'./delete?type=education&index='+${stat.index}}"> Delete </a></td>
                </tr>
            </table>
            <p><a href="./edit?add=education">Add Education</a> </p>
            <br>
            <h2>Skills</h2>
            <table>
                <tr th:each ="skill,stat : *{skills}">  <!--stat is like a counter... like the for loop-->
                    <td><input  class="form-control" th:field="*{skills[__${stat.index}__]}"> </td><!--This is like we are getting from userprofile object directly and from jobs array-->
                    <td><a th:href="@{'./delete?type=skill&index='+${stat.index}}"> Delete </a></td>
                </tr>
            </table>
            <p><a href="./edit?add=skill">Add Skill</a> </p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>
</html>